<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'watering/style.css' %}" type = text/css>
</head>
<body>
    <div class="jumbotron">
        <h1>pyPlant</h1>
    </div>
    <div class='container'>
        <h1>Welcome</h1>
        Welcome! you can login here
        <a href="http://127.0.0.1:8000/watering/addplant" class="btn btn-primary">Add Plant</a>
    </div>
    <h1>{{ myName }}</h1>
    <ul>
        {% for number in numbers %}
        <li>{{ number }}</li>
        {% endfor %}
    </ul>
</body>
</html>